*{
	padding: 0;
	margin: 0;
  }

  body{
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: #292A2C;
  }

  nav{
	width: 100%;
	height: 55px;
	background-color: #BE3144;
	margin: 0;
	padding: 0;
	position: sticky;
	top: 0;
  }

  .nav-sections{
	display: flex;
	list-style: none;
	position: absolute;
	right: 20px;
	padding: 0;
  }

  ul.nav-sections > li{
	font-size: 20px;
	color: white;
	padding: 10px;
	margin: 10px;
  }

  .main{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

  .apresentation{
	color: white;
	text-align: center;
	font-size: 25px;
	line-height: 10px
  }

  .my-projects{
	background-color: #45567D;
	color: white;
	padding-top: 30px;
	text-align: center;
  }

  .headline{
	font-size: 30px;
  }

  hr{
	border: 2px solid white;
	background-color:white;
	width: 500px;
	margin-bottom:10 ;
  }

  .projects-grid{
	margin: 0 10px;
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1rem;
	text-decoration: none;
  }

  .test-grid1{
	background-color: #303841;
	height: 30vw;
  }

  .project-image{
	height: calc(100% - 1.5rem);
	width: 100%;
	object-fit: cover
  }

  a{
	text-decoration: none;
	color: white;
  }

  .project-title{
	margin: 3px 1px;
	text-decoration: none;
	color: white;
	font-size: 17px;
  }

  .button{
	font-size: 18px;
	padding: 10px 25px;
	margin: 30px auto;
	text-align: center;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: #BE3144;
	color: white
  }

  .contacts{
	display: flex;
	gap: 30px;
	margin-top: 30px;
	color: white;
	font-size: 20px;
  }

  .blue{
	background-color: #303841;
	height: 80vh;
  }

  .final-hr{
	width: 100%;
	padding-top: 0px;
	background-color: #BE3144;
	border-color: #BE3144
  }

  .footer{
	width: 100%;
	background-color: #303841;
	color: white;
	position: absolute;
	border-top: 4px solid #BE3144;
	padding: 40px 0;
	display: flex;
	justify-content: space-evenly;
	gap: 30px;
  }

  .btn:hover{
	transform: translateY(10px);
	transition-duration: 0.4s
  }

  @media screen and (max-width: 1075px){
	.projects-grid{
	  gap: 10px;
	  padding: 10px;
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 1fr 1fr 1fr;
	}
  .project-image{
	height: calc(100% - 1.5rem);
	width: 100%;
	object-fit: cover
  }

  }